.map-container {
  overflow: hidden;
  height: 90vh;
}

.marker {
  background-image: url('../../assets/icon/location.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  padding: 44px;
  align-content: center;
}

.mapboxgl-popup-close-button {
  font-size: large;
}

.image-popup {
  border-radius: 6px;
  max-width: 100%;
  max-height: 150px;
}