.map-container {
  overflow: hidden;
  height: 90vh;
}

.marker {
  background-image: url('../../assets/icon/location.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}