.brand-form {
  text-decoration: none;
  background: linear-gradient(266.08deg, #3D424A -7.66%, #57BEE6 63.09%, rgba(229, 230, 222, 0.63) 110.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.linked-form {
  text-decoration: none;
  color: #3D424A;
  transition: all 0.3s ease-in-out;
}

.linked-form:hover {
  color: #57BEE6;
}

.btn-form {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.4s ease-in-out;

  color: #fff;
  background-color: #aaaaaa;
}

.btn-form:hover {
  color: #3D424A;
  background-color: #57BEE6;
}