#footer {
  background: url("../../assets/img/img-footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  padding: 30px 0 0 0;
  margin-bottom: 0;

  
}

#footer .footer-top h3 a {
  text-decoration: none;
  background: linear-gradient(266.08deg, #3D424A -7.66%, #57BEE6 63.09%, rgba(229, 230, 222, 0.63) 110.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-bottom {
  border-top: 1px solid #3D424A;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 996;
  transition: all 0.6s;
}

